# Upstash Redis (https://console.upstash.com/)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Iron session cookie titkosítás (min. 32 karakter random string)
# Generálás: `openssl rand -base64 32` vagy https://1password.com/password-generator/
SESSION_PASSWORD=
